$primary-color: #323232; 
$primary-accent: #0095FF;
$subheading: #AFAFAF;
$background: #FFFFFF;

$secondary-color: #000000;
$secondary-accent: #0065AD;
$secondary-subheading: #E1E1E1;
$secondary-background: #FAFAFA;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;