@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;


.video-comments {
    margin-top: 20px;
    font-family: 'avenir-demi';
    margin-left: 1rem;
    margin-right: 1rem;
  
    .comments {
      margin-top: 2rem;
      font-family: 'avenir-regular';
      &__format {
        display: flex;
      }

      .commentText {
        font-family: 'avenir-demi';
        color: $silver;
      }
  
      &__form {
        &--avatar {
          border-radius: 3rem;
          height: 3rem;
          width: 3rem;
          flex: 0 0 3rem;
        }
        &--flex {
          padding-left: 2rem;
        }

        label[for="commentText"] {
          font-family: 'avenir-demi';
          color: $silver;
          width: 100%;
        }

        textarea {
          font-family: 'avenir-regular';
          width: 87vw;
          border: solid $mercury;
          border-width: 0.15rem;
          border-radius: 0.2rem;
          background-color: $alabaster;
        }
      }
  
      .comment {
        border-top: 1px solid $mercury;
        padding-top: 10px;
        font-family: 'avenir-regular';
  
        &-name {
          font-weight: bold;
          padding-left: 1rem;
        }
  
        &-text {
          margin-top: 5px;
          padding-left: 1rem;
          font-family: 'avenir-regular';
        }

        &-date {
          padding-left: 1rem;
          text-align: right;
          margin-left: auto;
          color: $silver;
        }

        &-avatar {
          background-color: $mercury;
          border-radius: 3rem;
          height: 3rem;
          width: 3rem;
          flex: 0 0 3rem;
        }
        &-format {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        &-namedate {
          display: flex;
        }
      }
    }
  }

  .commentButton {
    display: flex;
    background-color: $brainflix-blue;
    font-family: 'avenir-demi';
    color: $white;
    align-items: center;
    border-radius: 0.2rem;
    width: 100%;
    justify-content: center;
    &__icon {
      padding: 1rem;
    }
  }