@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.video-comments {
  font-family: "avenir-demi";
  margin-left: 1rem;
  margin-right: 1rem;
  @include desktop {
    align-items: flex-start;
  }

  .comments {
    margin-top: 2rem;
    font-family: "avenir-regular";
    &__format {
      display: flex;
    }

    .commentText {
      font-family: "avenir-demi";
      color: $silver;
    }

    &__form {
      &--avatar {
        border-radius: 3rem;
        height: 3rem;
        width: 3rem;
        flex: 0 0 3rem;
      }
      &--flex {
        padding-left: 1rem;
      }

      label[for="commentText"] {
        font-family: "avenir-demi";
        color: $silver;
        width: 100%;
      }

      textarea {
        font-family: "avenir-regular";
        width: 87vw;
        border: solid $mercury;
        border-width: 0.15rem;
        border-radius: 0.2rem;
        padding: 0.5rem;
        background-color: $alabaster;
        @include desktop {
          width: 55vw;
        }
      }
    }

    .comment {
      border-top: 0.1rem solid $mercury;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-family: "avenir-regular";

      &__name {
        font-weight: bold;
        padding-left: 1rem;
      }

      &__text {
        margin-top: 5px;
        padding-left: 1rem;
        font-family: "avenir-regular";
      }

      &__date {
        padding-left: 1rem;
        text-align: right;
        margin-left: auto;
        color: $silver;
      }

      &__avatar {
        background-color: $mercury;
        border-radius: 3rem;
        height: 3rem;
        width: 3rem;
        flex: 0 0 3rem;
      }
      &__format {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      &__namedate {
        display: flex;
      }
    }
  }
}

.commentButton {
  display: flex;
  background-color: $brainflix-blue;
  font-family: "avenir-demi";
  color: $white;
  align-items: center;
  border-radius: 0.2rem;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;

  &__icon {
    padding: 1rem;
  }
}
