@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.header {
  align-items: center;
  padding: 1rem;
  background-color: $background;
  font-family: "avenir-regular";
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &__logo {
    text-align: center;
  }

  &__logo-image {
    width: 7rem;
  }

  &__flex-container {
    display: flex;
    justify-content: center;

    .header__avatar-image {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__search-input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 0.1rem solid $secondary-subheading;
    background-color: $secondary-background;
    border-radius: 0.3rem;
    width: 100%;

  }

  &__upload {
    color: $background;
    font-family: "avenir-demi";
    display: flex;
    justify-content: center;
    background-color: $primary-accent;
    border-radius: 0.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
    margin-top: 0.5rem;
    text-decoration: none;
    &:hover {
      background-color: $secondary-accent;
    }
  }

  a {
    text-decoration: none;
    color: $background;
    display: flex;
    justify-content: center;
  }
  &__upload-icon {
    width: 1.5rem;
    background-color: $primary-accent;
    text-decoration: none;
    &:hover {
      background-color: $secondary-accent;
    }
  }

  @include tablet {
    display: flex;

    &__logo-image {
      padding-left: 2rem;
    }
    &__search {
      display: flex;
      padding-left: 6rem;
    }

    &__search-input {
      padding-top: 0.8rem;
      padding-bottom: 0.7rem;
    }

    &__avatar {
      position: absolute;
      right: 5%;
    }
    &__upload {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &__upload-icon {
      background-color: $primary-accent;
    }
    &__upload-text {
      background-color: $primary-accent;
    }
  }
  @include desktop {
    display: flex;
    &__upload {
      justify-content: flex-end;
    }
  }
}
