@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.main {
  font-family: 'avenir-regular';
  &__video {
    width: 100%;
    max-height: auto;
  }

  &__title, &__channel {
    margin: 0.5rem 0;
    font-family: 'avenir-demi';
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__description {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__comments {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

    &__border {
      padding: 0.5rem;
      border-bottom: 1px solid #ccc;
    }

    &__name, &__comment {
    padding-left: 1rem;
    padding-right: 1rem;
    }
}

.next {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &__image {
    width: 15rem;
      height: auto;
      border-radius: 1rem;
      margin-right: 1rem;
      padding-bottom: 1rem;
  }

  &__title {
    margin: 0;
  }

  a {
    display: flex;
    text-decoration: none;
    color: black;

  }
}