@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

video {
  width: 100vw;
  @include desktop {
    width: 70%;
    background-color: $brainflix-darkblack;
    display: flex;
    justify-content: center;
  }
}

.main {
  font-family: "avenir-regular";
  &__details {
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 1rem;
  }
  &__title {
    font-family: "avenir-bold";
    color: $brainflix-black;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid $mercury;
  }
  &__info {
    display: flex;
  }
  &__channel {
    font-family: "avenir-demi";
    padding-right: 4rem;
  }
  &__likes,
  &__views {
    padding-right: 1rem;
    padding-left: 0.5rem;
    color: $silver;
  }

  &__info1 {
    display: flex;
  }

  &__likes {
    padding-right: 9rem;
  }

  &__timestamp {
    color: $silver;
  }
  &__description {
    border-top: 0.1rem solid $mercury;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $mercury;
  }
  @include tablet {
    &__flex {
      display: flex;
    }
    &__info {
      margin-right: 4rem;
      justify-content: space-between;
    }
    &__info1 {
      margin-right: 10rem;
      justify-content: space-between;
    }
    &__channel {
      margin-right: 4rem;
    }
    &__likes {
      margin-right: 2rem;
    }
  }
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__channel {
      margin: 0;
    }
    &__info1 {
      margin: 0;
    }
    &__video-container {
      width: 70%;
      background-color: $brainflix-darkblack;
    }
    &__video {
      width: 100%;
    }
    &__details {
      width: 60%;
      align-self: flex-start;
      background-color: $white;
    }
  }
}
