@use "../styles/partials/_fonts.scss" as *;
@use "../styles/partials/_variables.scss" as *;
@use "../styles/partials/_mixins.scss" as *;

.upload {
    padding: 1rem;
    width: 100%;
    max-width: 37rem;
    margin: 1.25rem auto;
    font-family: 'avenir-regular';
    border-top: 0.063rem solid $secondary-subheading;

    @include tablet {
        border-top: 0.063rem solid $background;
        max-width: 85%;
    }

    @include desktop {
        max-width: 85%;
    }

    &__thumbnail {
        height: auto;
        width: 95%;
        border-radius: 1rem;
        padding-bottom: 1rem;

        @include tablet {
            width: 50%;
            display: flex;
        }

        @include desktop {
            width: 50%;
            display: flex;
            flex-direction: row;
        }
    }

    &__title {
        font-family: 'avenir-bold';
        padding-bottom: 1rem;

        @include tablet {
            border-bottom: 0.063rem solid $secondary-subheading;
        }
    }

    &__label {
        font-family: 'avenir-demi';
        color: $subheading;
    }

    &__button {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        @include tablet {
        border-top: 0.063rem solid $secondary-subheading;
        justify-content: flex-end;
        flex-direction: row;
        }
        @include desktop {
            border-top: 0.063rem solid $background;
            }
    }

    &__publish {
        border-radius: 0.25rem;
        background-color: $primary-accent;
        border: none;
        color: $background;
        padding: 0.625rem 1.25rem;
        font-family: 'avenir-demi';
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: $secondary-accent;
          }
    }

    &__cancel {
        color: $primary-accent;
        padding: 0.625rem 1.25rem;
        background-color: $background;
        font-family: 'avenir-demi';
        border: none;
    }

    &__form {
    display: flex;
      flex-direction: column;
      @include desktop {
        margin-left: 40rem;
        margin-top: -15rem;
        padding-bottom: 1rem;
    }
    }

    &__input, &__description {
        padding: 0.625rem;
        margin-bottom: 0.625rem;
        border: 0.063rem solid $secondary-subheading;
        border-radius: 0.25rem;
        background-color: $secondary-background;
        font-family: 'avenir-regular';
    }

    &__description {
        @include tablet {
        padding-bottom: 3rem;
        }
    }

  }